In [8]:
import pandas
df = pandas.read_csv('hrdata.csv')
#print(df)
df.head()

             Name Hire Date   Salary  Sick Days remaining
0  Graham Chapman  03/15/14  50000.0                   10
1     John Cleese  06/01/15  65000.0                    8
2       Eric Idle  05/12/14  45000.0                   10
3     Terry Jones  11/01/13  70000.0                    3
4   Terry Gilliam  08/12/14  48000.0                    7

In [6]:
df1 = pandas.read_csv('hrdata.csv', nrows=3)  # to load specific number of rows
df1['Hire Date']

0    03/15/14
1    06/01/15
2    05/12/14
Name: Hire Date, dtype: object

In [13]:
df2 = pandas.read_csv('hrdata.csv', skiprows=0)  # to skip some starting rows
print(df2.head(2))  # read first three rows

             Name Hire Date   Salary  Sick Days remaining
0  Graham Chapman  03/15/14  50000.0                   10
1     John Cleese  06/01/15  65000.0                    8

In [ ]:
# sources = http://cmdlinetips.com/2018/01/7-tips-to-read-a-csv-file-as-pandas-data-frame/